*
{
    box-sizing: border-box;
}

body,html
{
    height: 100%;
    margin: 0;
    /* font-family: 'Caveat', cursive; */
    font-family: 'Give You Glory', cursive;
    /* font-family: 'The Girl Next Door', cursive; */
}

.map
{
    width: 100%;
    height: 100%;
}

.map-frame
{
    width:100%;
    height: 50%;
    border: none;
    display: block;
}

.quest-board
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
    padding: 2rem;
    position: relative;
    height: fit-content;
    border-width: 2rem;
    border-style: solid;
    box-shadow: 0rem 0rem .629rem .629rem inset black; 
    border-image: url("../images/wood.jpg") 30 30 stretch;
    background-image: url("../images/wood.jpg");
}

.book-wrapper
{
    display: flex;
    position: absolute;
    top: -32px;
    right: 0;
    gap: .1rem;
}

.book-logo
{
    width:100%;
    height: 100%;
}

.close-spellbook
{
    width:10%;
}

.close-monsterbook
{
    width:10%;
}

.spellbook
{
    height: 2rem;
    width: 2rem;
    background: white;
    isolation: isolate;
    mix-blend-mode: darken;
    /* border: red 2px solid; */
}

.monsterbook
{
    height: 2rem;
    width: 2rem;
    background: white;
    isolation: isolate;
    mix-blend-mode: darken;
    /* border: cyan 2px solid; */
}

.modal
{
    min-width: 50ch;
    max-width: 80ch;
}

.book-page
{
    position: relative;
    background-image: url("../images/stained-paper.jpg");
    background-size: contain;
    border-radius: .313rem;
    text-align: center;
    padding: .629rem;
    line-height: 2rem;
    font-weight: bolder;
}

.book-page p:first-child
{
    font-size: 2rem;
}

.book-page:before 
{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(177, 150, 106, 0.6);
    transition: all .3s linear;
    z-index: 1;
}

.book-page > :not(.book-cover)
{
    position: relative;
    z-index: 2;
}

.book-cover
{
    background-image: url("../images/black-leather.jpg");
    background-size: contain;
    border: none;
    border-radius: .1rem;
    text-align: center;
    padding: .629rem;
    scrollbar-color: #aeaeae black;
    scrollbar-width: 0px;
}

.page-numbers
{
    display: flex;
    margin-bottom: .313rem;
    gap: .313rem;
}

.page-numbers button
{
    flex: 1 1 50px;
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: .313rem;
}

.page-numbers button:hover
{
    background-color: rgba(137, 110, 66, 0.6);
}

.page-numbers button.active
{
    background-color: rgba(137, 110, 66, 0.6);
}

quest-item p:first-child
{
    font-size: 2rem;
}

quest-item p:last-child
{
    font-size: 1.5rem;
}

quest-item p
{
    position:relative;
    z-index: 2;
}

quest-item 
{
    position:relative; 
   
}

quest-item:before 
{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(177, 150, 106, 0.6);
    transition: all .3s linear;
    z-index: 1;
}

quest-item:after 
{
    content: "";
    position: absolute;
    width: 100%;
    height: .2rem;
    bottom: 3px;
    box-shadow: 0 .45rem .25rem 0 black;
}